<!DOCTYPE html>
<html>
  <head>
    <title>Expenses Time Too!</title>
    <script src="vue.js"></script>
    <script src="axios.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>

    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">Expenses</div>

        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline" action="/search">
          <input class="form-control mr-sm-2" name="description" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit">Search</button>
        </form>
      </nav>
    </div>

    <div class="container">
      <div id="app"><div style="font-weight: bold">
          <button type="button" class="btn btn-secondary" onclick="change_date('monthBack')" > < </button>
        <input id="dateFrom" style="width: 100px" v-model="from" v-on:change="loadExpenses()">
        —
        <input id="dateTo" style="width: 100px" v-model="to" v-on:change="loadExpenses()">
        <button type="button" class="btn btn-secondary"  onclick="change_date('monthForward')"> > </button>

        <div style="float: right">
        <button type="button" class="btn btn-secondary" v-bind:class="{ active : expanded }"
          aria-pressed="false" @click="expanded= !expanded" data-toggle="button">
        Details
        </button>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary" v-bind:class="{ active : groupedBy === groups.day }">
            <input type="radio" name="options" autocomplete="off" value="0" v-model="groupedBy">Day
          </label>
          <label class="btn btn-secondary" v-bind:class="{ active : groupedBy === groups.month}">
            <input type="radio" name="options" autocomplete="off" value="1" v-model="groupedBy">Month
          </label>
          <label class="btn btn-secondary" v-bind:class="{ active : groupedBy === groups.year}">
            <input type="radio" name="options" autocomplete="off" value="2" v-model="groupedBy">Year
          </label>
          <label class="btn btn-secondary" v-bind:class="{ active : groupedBy === groups.classification}">
            <input type="radio" name="options" autocomplete="off" value="3" v-model="groupedBy">Classification
          </label>
        </div>
        <button type="button" class="btn btn-secondary" v-bind:class="{ active : showHidden }"
          aria-pressed="false" @click="showHidden = !showHidden" data-toggle="button">
          All
        </button>
        </div>

</div>

        <expense-section v-for="key in Object.keys(groupedExpenses).sort()"
                         v-bind:expenses="groupedExpenses[key]"
                         v-bind:total="groupTotal(groupedExpenses[key])"
                         v-bind:label="key"
                         v-bind:groupedby="groupedBy"
                         v-bind:groups="groups"
                         v-bind:expanded="expanded"
                         v-bind:classifications="classifications"
                         v-bind:key="key"></expense-section>
      </div>
    </div>

    <script>

        function change_date(delta) {
            if (delta === 'monthBack') {
                var fromDelta = -1
                var toDelta = 0
            } else if (delta === 'monthForward') {
                var fromDelta = 1
                var toDelta = 2
            }
            var d = new Date(app.from);
            var month = d.getMonth()
            var newFrom = new Date(d.getFullYear(), month+fromDelta , 1)
            newFrom = new Date(newFrom.getTime() - newFrom.getTimezoneOffset() * 60 *1000)
            app.from = newFrom.toISOString().split('T')[0]
            var newTo = new Date(d.getFullYear(), month+toDelta, 0)
            newTo = new Date(newTo.getTime() - newTo.getTimezoneOffset() * 60 * 1000)
            app.to = newTo.toISOString().split('T')[0]
            document.getElementById('dateFrom').dispatchEvent(new Event('change'))
        }

      var app = new Vue({
        el: '#app',
        data: {
          expenses: [],
          raw_classifications: [],
          raw_fx_rates: [],
          from: "",
          to: "",
          groups: {day: "0", month: "1", year: "2", classification: "3"},
          groupedBy: "0",
          showHidden: false,
          expanded: true,
          displayCCY: "GBP"
        },
        methods: {
          loadExpenses: function() {
            axios.get("https://localhost:8000/expenses?from=" + this.from + "&to=" + this.to)
              .then(response => {this.expenses = response.data})
          },
          loadClassifications: function() {
            axios.get("https://localhost:8000/expense_classifications")
              .then(response => {this.raw_classifications= response.data})
          },
          groupTotal: function(expenses) {
            var total = 0;
            for (var expense, i = 0; expense = expenses[i++];) {
              if (expense.Currency === this.displayCCY) {
                total += expense.Amount
              }
            }
            return total
          }
        },
        computed: {
          groupedExpenses: function() {
            var lookup = {};

            for (var expense, i = 0; expense = this.expenses[i++];) {
              if ( !this.showHidden && !this.classifications[expense.Metadata.Classification].Hidden ) {
                continue 
              }
              if ( this.groupedBy === this.groups.classification ) {
                var key = this.classifications[expense.Metadata.Classification].Description;
              } else if (this.groupedBy === this.groups.day ) {
                var key = expense.Date;
              } else if (this.groupedBy === this.groups.month ) {
                var key = expense.Date.substr(0, 7);
              } else if (this.groupedBy === this.groups.year) {
                var key = expense.Date.substr(0, 4);
              } else {
                var key = expense.Date;
              }

              if (!(key in lookup)) {
                lookup[key]= []
              }
              lookup[key].push(expense)
            }
            return lookup
          },
          classifications: function() {
            var result = {}
            for (var classification, i = 0; classification = this.raw_classifications[i++];) {
              result[classification.ID] = classification
            }
            return result
          }
        },
        mounted() {
		  var date = new Date();
		  var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
		  firstDay = new Date(firstDay.getTime() - firstDay.getTimezoneOffset() * 60 *1000) 
		  var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
		  lastDay = new Date(lastDay.getTime() - lastDay.getTimezoneOffset() * 60 * 1000)
		  this.to=lastDay.toISOString().split('T')[0]
		  this.from=firstDay.toISOString().split('T')[0]

          this.loadExpenses()
          this.loadClassifications()
        }
      })

Vue.component('expense-section', {
  props: ['expenses', 'label', 'total', 'classifications', 'groupedby', 'groups', 'expanded'],
  template: '<div> \
  <div class="row"> \
  <div class="col-sm-10 expense-section">{{ label }}</div> \
  <div class="col-sm-2 expense-section">{{ total }}</div> \
  </div> \
  <div v-if="expanded"> \
  <expense-item v-for="expense in expenses" \
  v-bind:expense="expense" \
  v-bind:groupedby="groupedby" \
  v-bind:groups="groups" \
  v-bind:classifications="classifications" \
  v-bind:key="expense.ID"></expense-item> \
  </div> \
  </div>'
})

Vue.component('expense-item', {
  props: ['expense', 'classifications', 'groupedby', 'groups'],
  template: '<div class="row expense-item" \
    v-bind:class="{ temporary: expense.Metadata.Temporary, unconfirmed: !expense.Metadata.Confirmed }" > \
  <div v-if="expense.Metadata.Confirmed" class="col-sm-1"></div> \
  <div v-else class="col-sm-1 link" v-on:click="confirmExpense(expense)">con</div> \
  <div class="col-sm-4">{{ expense.Description }}</div> \
  <div class="col-sm-2">{{ expense.Amount}} ({{expense.Currency}})</div> \
  <div v-if="groupedby === groups.day || groupedby === groups.month || groupedby === groups.year" class="col-sm-2">{{ classifications[expense.Metadata.Classification].Description}}</div> \
  <div v-if="groupedby === groups.classification || groupedby === groups.month || groupedby === groups.year" class="col-sm-2">{{ expense.Date}}</div> \
  </div>',
  methods: {
    confirmExpense: function(expense) {
      axios.patch("https://localhost:8000/expenses/"+expense.ID, {"Metadata":{"Confirmed":true}})
        .then(function (response) { console.log(response); if (response.status === 200) {
          expense.Metadata.Confirmed = true
        }})
    }
  }
})

    </script>
  </body>
</html>
