{% extends "layout.html" %}
{% block title %}Config{% endblock %}
{% block navname %}config{% endblock %}
{% block body %}

<script src=/static/js/config.js></script>
<script src=/static/js/date_field.js></script>

<div class="row">
  <div class="col-sm-12"><h2>Configuration</h2></div>
</div>

<div class="row">
	<div class="col-sm-12 link" onclick="$.post('backend/LOAD_RAW')">LOAD RAW</div>
</div>

<div class="row">
	<div class="col-sm-12 link" onclick="$.post('backend/CLASSIFY')">CLASSIFY</div>
</div>

<div class="row">
	<div class="col-sm-12 link" onclick="$.post('backend/IMPORT_SCANS')">Import Scans</div>
</div>

<div class="row">
	<div class="col-sm-12 link" onclick="$.post('backend/PROCESS_SCANS')">Process Scans</div>
</div>

<div class="row">
	<div class="col-sm-12">
	<a href="#export"  data-toggle="collapse">
		<div class=""><h2>Export</h2></div>
	</a>
	</div>
</div>
<div class="collapse" id="export">

  <form action="backend/EXPORT_DOCUMENTS" onsubmit="">	
	<div class="row">
		<div class="col-sm-6">
			<span class="input-group-addon" id="basic-addon1">from</span>
			<input type="text" class="form-control" id="export_from" name="from" onkeydown="cursor_date(event, 'export_from')">
		</div>
		<div class="col-sm-6">
			<span class="input-group-addon" id="basic-addon1">to</span>
			<input type="text" class="form-control" id="export_to" name="to" onkeydown="cursor_date(event, 'export_to')">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<span class="input-group-addon" id="basic-addon1">dir</span>
			<input type="text" class="form-control" id="export_dir" name="dir">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<input type="submit" /> 
		</div>
	</div>
  </form>
</div>

<div class="row">
	<div class="col-sm-12">
	<a href="#accounts"  data-toggle="collapse">
		<div class=""><h2>Accounts</h2></div>
	</a>
	</div>
</div>

<div class="collapse" id="accounts">
	<div class="col-sm-12">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Account Name</th>
                <th scope="col">Currency</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts -%}
            <tr>
                <td>{{ account['name'] }}</td>
                <td>{{ account['ccy'] }}</td>
            </tr>
	        {%- endfor %}
        </tbody>
    </table>
    </div>

	<div class="row">
	<div class="col-sm-12">
		<div class="input-group">
		<input type="text" class="form-control" placeholder="Account Name" id="NEW_account_name">
		<input type="text" class="form-control" placeholder="Account Currency" id="NEW_account_ccy">
		<select class="form-control" id="NEW_account_lid">
			<option>none</option>
		</select>
		<select class="form-control" id="NEW_account_pid">
			<option>none</option>
		</select>
		</div>
		<button type="button" class="btn btn-default" id="accounts-new">New</button>
		<button type="button" class="btn btn-danger" id="accounts-cancel">Cancel</button>
		<button type="button" class="btn btn-default" id="accounts-save" onclick="save_account('NEW')">Save</button>
	</div>
	</div>

</div>


<div class="row">
	<div class="col-sm-12">
	<a href="#accountloaders"  data-toggle="collapse">
		<div class=""><h2>Account Loaders</h2></div>
	</a>
	</div>
</div>

<div class="collapse" id="accountloaders">
	<div class="col-sm-12">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Account Loader</th>
                <th scope="col">Enabled</th>
                <th scope="col">Load</th>
            </tr>
        </thead>
        <tbody>
	        {% for accountloader in accountloaders -%}
            <tr>
                <td>{{ accountloader['name'] }}</td>
                <td>{{ accountloader['enabled'] }}</td>
                <td class="link" onclick="$.post('backend/LOAD_RAW?alid={{ accountloader['alid'] }}')" >load now</td>
            </tr>
	        {%- endfor %}
        </tbody>
    </table>
    </div>
</div>

<div class="row">
	<div class="col-sm-12">
	<a href="#classifications"  data-toggle="collapse">
		<div class=""><h2>Classifications</h2></div>
	</a>
	</div>
</div>

<div class="collapse" id="classifications">
	<div class="col-sm-12">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Classification</th>
                <th scope="col">Valid From</th>
                <th scope="col">Valid To</th>
                <th scope="col">Is Expense</th>
            </tr>
        </thead>
        <tbody>
	    {% for row in classifications -%}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
	        {%- endfor %}
        </tbody>
    </table>
    </div>

<script>
	function newClassification(){
		$.post('backend/SAVE_CLASSIFICATION?cid=-1&description=' + document.getElementById ('classification_desc_new').value
				+ '&validfrom=' + document.getElementById ('classification_validfrom_new').value
				+ '&validto=' + document.getElementById ('classification_validto_new').value
				+ '&isexpense=' + document.getElementById ('classification_isexpense_new').value
)

	}
</script>

<div class="row">
  <div class="col-sm-3"><input id="classification_desc_new" type="text" name="amount" size="10" value="{{ amount }}"></div>
  <div class="col-sm-3"><input id="classification_validfrom_new" type="text" name="amount" size="10" value="{{ amount }}"></div>
  <div class="col-sm-3"><input id="classification_validto_new" type="text" name="amount" size="10" value="{{ amount }}"></div>
  <div class="col-sm-3"><input id="classification_isexpense_new" type="text" name="amount" size="10" value="{{ amount }}"></div>
</div>
<div class="row">
  <div class="col-sm-12 link" onclick="newClassification()">save</div>
</div>

</div>

{% endblock %}

