<div class="row expenserow {% if expense[3] == 0 %}unconfirmed{% endif %}">
    <div class="col-sm-1">
        {% if expense[3] == 0 %}
            <div class="link right" onclick="remove_doc_expense({{expense[4]}}, {{document['did']}})">✗</div>
            <div class="link" onclick="confirm_doc_expense({{expense[4]}}, {{document['did']}})">✓</div>   
        {% endif %}
    </div>  
    <a href="expense?eid={{ expense[0] }}">
    <div class="col-sm-2">{{ expense[1] }}</div>
    <div class="col-sm-4">{{ expense[2].decode('utf8', 'ignore') }}</div>
    </a>
</div> 
