<div id="document_{{ document['did'] }}">
  <div class="row {% if document['confirmed'] == 0 %}unconfirmed{% endif %} {% if document['tag']  %}tagged{% endif %}">
	<div class="col-sm-1">
    <div class="link right"><a href="document?did={{ document['did'] }}">¤</a></div>
    </div>
    <div class="col-sm-2">{{ document['date'] }}</div>
	<div class="col-sm-6">{{ document['text'] }}</div>
	<!--<div class="col-sm-3"><img src="{{ document['filename'] }}"></div>-->
  </div>

{% for expense in document['expenses'] -%}
	{% include 'document_expense_fragment.html' %}
{%- endfor %}
<br>
</div>
