<div id="expense_{{ expense['eid'] }}">
  <div class="row {% if expense['confirmed'] == 0 %}unconfirmed{% endif %} {% if expense['tag']  %}tagged{% endif %}">
	<div class="col-sm-1">
    <div class="link pull-right">
		<a href="search?description={{ expense['description']  }}">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</a>
	</div>
		{% if expense['confirmed'] == 0 %}
			<div class="link pull-right" onclick="confirm_expense({{expense['eid']}})">CON</div>
		{% endif %}
    <div class="link" float="left" id="show_details_{{ expense['eid'] }}" onclick="$.get('expense_details?eid={{ expense['eid'] }}', function(data){show_raw(data, {{ expense['eid'] }})})">+</div>
    </div>
    <div class="col-sm-2">{{ expense['date'] }}</div>
    <div class="col-sm-5"><a href="expense?eid={{ expense['eid']  }}">{{ expense['description']  }}</a></div>
    <div class="col-sm-2 amount" id="amount_{{ expense['eid'] }}">{{ expense['pretty_amount'] }}</div>
    <div class="col-sm-2" id="classification_{{ expense['eid'] }}">
		{% for document in  expense['documents'] %}
			<div class="link pull-right" ><a href="receipt?did={{ document['did'] }}">#</a></div>
		{% endfor %}
		{% if expense['tag'] %}
			<div class="link pull-right" onclick="tag_expense({{ expense['eid'] }}, 0)">☑</div>
		{% else %}
			<div class="link pull-right" onclick="tag_expense({{ expense['eid'] }}, 1)">☐</div>
		{% endif %}
		{{ expense['classification'] }}
	</div>
  </div>
  
  <div class="row expenserow">
    <div class="col-sm-1"></div>
    <div class="col-sm-11" id="expenese_detail_{{ expense['eid'] }}"></div>
  </div>
</div>
