{% extends "layout.html" %}
{% block title %}Expense{% endblock %}
{% block body %}


<script src=/static/js/edit_expense.js></script>

<div class="row">
  <div class="col-sm-12"><h2>Edit Expense <small>{% if expense['eid'] %}{{ expense['eid'] }}{% else %}[new]{% endif %}</small></h2></div>
</div>

<hr/>
<div class="row">
	<div class="col-sm-1 link"><input class="form-control" type=submit value="Save" onclick="save_expense({{ expense['eid'] }})"></div>
	<div class="col-sm-1 link"></div>
      <div class="col-sm-1 link"><input class="form-control" type=submit value="Duplicate" onclick="duplicate_expense({{ expense['eid'] }})"></div>
      <div class="col-sm-1 link"><input class="form-control" type=submit value="Reprocess" onclick="reprocess_expense({{ expense['eid'] }})"></div>
	<div class="col-sm-1 link"><input class="form-control" type=submit value="Merge" onclick="merge_expense({{ expense['eid'] }})"></div>
	<div class="col-sm-6 link"></div>
	<div class="col-sm-1 link"><input class="form-control" type=submit value="Delete" onclick="delete_expense({{ expense['eid'] }})"></div>
</div>
<hr/>

<div class="row">
	<div class="col-sm-12">
		<div class="expense_property">Description</div>
		<input class="form-control" text="text" value="{{ expense['description']  }}"></input>
	</div>
</div>

<div class="row">
	<div class="col-sm-5">
		<div class="expense_property">Amount</div>
		<input class="form-control" text="number" value="{{ expense['amount']  }}"></input>
	</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-5"><div class="expense_property">Classification</div></div>
</div>

<div class="row">
	<div class="col-sm-2">
		<div class="expense_property">FX Amount</div>
		<input class="form-control" text="text" value="{{ expense['fxamount']  }}"></input>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<div class="expense_property">FX CCY</div>
		<input class="form-control" text="text" value="{{ expense['fxccy']  }}"></input>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<div class="expense_property">Exchange Rate</div>
		<input class="form-control" text="text" value="{{ expense['fxrate']  }}"></input>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<div class="expense_property">Commission</div>
		<input class="form-control" text="text" value="{{ expense['fxcommission']  }}"></input>
	</div>
	<div class="col-sm-1"></div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="expense_property">Raw Lines</div>
	</div>
</div>
<div class="row">
	{% for rawline in expense['rawlines'] -%}
		<div class="col-sm-2">{{ rawline[0] }}</div>
		<div class="col-sm-10">{{ rawline[1].decode('utf8') }}</div>
	{%- endfor %}
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="expense_property">Documents</div>
	</div>
</div>
<div class="row">
	{% for document in expense['documents'] -%}
		<div class="col-sm-12"><a href="receipt?did={{ document[0] }}">{{ document[1].decode('utf8') }}</a></div>
	{%- endfor %}
</div>

{% endblock %}


