{% extends "layout.html" %}
{% block title %}Expense{% endblock %}
{% block body %}


<script src=/static/js/edit_expense.js></script>
<script src=/static/js/date_field.js></script>

<div class="row">
    <div class="col-sm-5"><h3>Expense <small>{% if expense['eid'] %}{{ expense['eid'] }}{% else %}[new]{% endif %}</small></h3></div>

    <div class="col-sm-7 h2">
        <button class="btn btn-danger btn-secondary" type="button" onclick="delete_expense({{ expense['eid'] }})">Delete</button>
        <div class="float-right">
            <button class="btn btn-secondary" type="button" onclick="duplicate_expense({{ expense['eid'] }})">Duplicate</button>
            <button class="btn btn-secondary" type="button" onclick="reprocess_expense({{ expense['eid'] }})">Reprocess</button>
            <div class="btn-group">
                <button class="btn btn-secondary" type="button" onclick="merge_expense({{ expense['eid'] }})">Merge</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="btn btn-default" type="button" onclick="merge_expense_commission({{expense['eid'] }})">Merge as Commission</a>
                </div>
            </div>
            <button class="btn btn-secondary" type="button" {% if expense['eid'] %} onclick="save_expense({{ expense['eid'] }})" {% else %} onclick="save_expense('NEW')" {% endif %}>
                Save</button>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-8">
        <div class="row-sm-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text expense-addon">Description</span>
                </div>
                <input class="form-control" id="exDesc" text="text" value="{{ expense['description']  }}"></input>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text expense-addon">Details</span>
                </div>
                <textarea class="form-control" id="exDeetDesc" placeholder="none">{{ expense['detaileddescription']  }}</textarea>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text expense-addon">Classification</span>
                </div>
                <select id="exClass" class="form-control">
                    {% for row in classifications -%}  
                    <option value="{{ row[0] }}" {% if row[1] == expense['classification'] -%} selected="selected" {%- endif %}>{{ row[1] }}</option>
                    {%- endfor %}
                </select>
            </div>
        </div>

        <div class="row-sm-12">
            {% for document in expense['documents'] -%}
            {% include 'document_fragment.html' %}
            {%- endfor %}
        </div>
        {% if expense['relatedExpenses'] -%}
        <div class="row-sm-12">
            Related Expenses
            {% for relatedEx in expense['relatedExpenses'] -%}
            <a href="expense?eid={{relatedEx['eid'] }}">{{relatedEx['description']}}</a>
            {%- endfor %}
        </div>
        {% endif %}
    </div>


    <div class="col-sm-4">
        <div class="row-sm-12">
            <div class="input-group">
                <span id="exCCY" class="input-group-text expense-addon">{{ expense['ccy'] }}</span>
                <input class="form-control" id="exAmount" text="number" value="{{ expense['amount']  }}"></input>
            </div>
        </div>
        <div class="row-sm-12">
            <div class="input-group">
                <span class="input-group-text expense-addon">Date</span>
                <input class="form-control" id="exDate" text="text" value="{{ expense['date']  }}" onkeydown="cursor_date(event, 'exDate')"></input>
            </div>
        </div>
        <br> 
        <div class="row-sm-12">
            <div class="input-group">
                <span class="input-group-text expense-addon">FX amount</span>
                <input class="form-control" id="exFXAmount" text="text" value="{{ expense['fxamount']  }}"></input>
            </div>
        </div>
        <div class="row-sm-12">
            <div class="input-group">
                <span class="input-group-text expense-addon">FX currency</span>
                <input class="form-control" id="exFXCCY" text="text" value="{{ expense['fxccy']  }}"></input>
            </div>
        </div>
        <div class="row-sm-12">
            <div class="input-group">
                <span class="input-group-text expense-addon">FX Rate</span>
                <input class="form-control" id="exFXRate" text="text" value="{{ expense['fxrate']  }}"></input>
            </div>
        </div>
        <div class="row-sm-12">
            <div class="input-group">
                <span class="input-group-text expense-addon">Commission</span>
                <input class="form-control" id="exCommission" text="text" value="{{ expense['fxcommission']  }}"></input>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row-sm-12">
    <div class="row-sm-12">
        <a href="#rawlines"  data-toggle="collapse"><h2>+ Details</h2></a>
    </div>
</div>
<div class="row-sm-12 collapse" id="rawlines">

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-text expense-addon">Account</span>
                <select id="exAccount" class="form-control" onchange="$('#exCCY').text($('#exAccount option:selected').data('ccy'))">
                    {% for account in accounts -%}  
                    <option value="{{ account['aid'] }}" {% if  account['aid'] == expense['aid'] -%} selected="selected" {%- endif %} data-ccy="{{ account['ccy'] }}" >{{ account['name'] }}</option>
                    {%- endfor %}
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group disabled">
                <span class="input-group-text expense-addon">Transaction Ref</span>
                <input class="form-control" id="exCommission" text="text" value="{{ expense['reference']  }}"></input>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-text expense-addon">Modified</span>
                <input class="form-control" id="exCommission" text="text" value="{{ expense['modified']  }}"></input>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-text expense-addon">Process Date</span>
                <input class="form-control" id="exProcDate" text="text" value="{{ expense['processdate']  }}"></input>
            </div>
        </div>
    </div>

    <br>
    <h3>Raw Data</h3>

    {% for rawline in expense['rawlines'] -%}
    <div class="col-sm-2">{{ rawline[0] }}</div>
    <div class="col-sm-10">{{ rawline[1] }}</div>
    {%- endfor %}
</div>

{% endblock %}

