<!doctype html>
<head>
	<title>{% block title %}{% endblock %} | Expenses Time!</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/style.css" rel="stylesheet">
	<script src=/static/jquery.js></script>
	<script src=/static/jquery.tablesorter.js></script>
	<script src=/static/bootstrap/js/bootstrap.min.js></script>
	<script src=/static/js/pin.js></script>
</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

<div class="container">

  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li id="expenses_nav" role="presentation"><a href="expenses">Expenses</a></li>
        <li id="analysis_nav" role="presentation"><a href="analysis">Analysis</a></li>
        <li id="documents_nav" role="presentation"><a href="documents">Documents</a></li>
        <li id="search_nav" role="presentation"><a href="search">Search</a></li>
        <li id="config_nav" role="presentation"><a href="config">⚙</a></li>
		<li id="pinned" ></li>
      </ul>
    </nav>	
    <h1>Expenses</h1>
    <h4><small>You bean spendin how much!?</small></h4>
	</div>

  {% block body %}{% endblock %}
  
</div>

{% if self.navname() %}
	<script>
		document.getElementById('{% block navname %}{% endblock %}' + '_nav').setAttribute('class', 'active')
	</script>
{% endif %}
<br/>
<div class="container">
	<div class="row footer">
	</div>
</div>

<div id='item_id' style="display: none">{{ item_id }}</div>
<div id='item_type' style="display: none">{{ item_type  }}</div>

