<!doctype html>
<head>
	<title>{% block title %}{% endblock %} | Expenses Time!</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/style.css" rel="stylesheet">
	<script src=/static/jquery.js></script>
	<script src=/static/jquery.tablesorter.js></script>
	<script src=/static/jquery.query-object.js></script>
	<script src=/static/bootstrap/js/bootstrap.bundle.min.js></script>
	<script src=/static/js/pin.js></script>
</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

<div class="container">

  <div class="header">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">Expenses</div>

    <ul class="navbar-nav mr-auto">
      <li id="expenses_nav" class="nav-item"><a class="nav-link" href="expenses">Overview</a></li>
      <li id="analysis_nav" class="nav-item"><a class="nav-link" href="analysis">Analysis</a></li>
      <li id="documents_nav" class="nav-item"><a class="nav-link" href="documents">Documents</a></li>
      <li id="config_nav" class="nav-item"><a class="nav-link" href="config">Config</a></li>
    </ul>
    <form class="form-inline" action="/search">
      <input class="form-control mr-sm-2" name="description" type="search" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit">Search</button>
    </form>
	  <li id="pinned" class="nav-link"></li>
</nav>

  {% block body %}{% endblock %}
  
</div>

{% if self.navname() %}
	<script>
		document.getElementById('{% block navname %}{% endblock %}' + '_nav').setAttribute('class', 'active')
	</script>
{% endif %}
<br/>
<div class="container">
	<div class="row footer">
	</div>
</div>

<div id='item_id' style="display: none">{{ item_id }}</div>
<div id='item_type' style="display: none">{{ item_type  }}</div>

