{% extends "layout.html" %}
{% block title %}Expenses{% endblock %}
{% block navname %}expenses{% endblock %}
{% block body %}

<script src=/static/js/expense.js></script>
<script src=/static/js/expense_details.js></script>
<script src=/static/js/month_view.js></script>

<div class="row">
    <div class="col-sm-6 h2">

        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" class="btn btn-secondary" data-toggle="dropdown" onclick="goto_previous_period( '{{ previous_period }}' )">
                    Previous
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="expenses?date={{ previous_year }}">Year</a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="goto_previous_period('{{ next_period }}')" >Next
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="period">
            <label class="btn btn-secondary {% if period == 'year' -%} active {%- endif %}" onclick="set_period('year')">
                <input type="radio" name="options" id="periodYear" autocomplete="off" value="year" {% if period == 'year' -%} checked {%- endif %}>year
            </label>
            <label class="btn btn-secondary {% if period == 'month' -%} active {%- endif %}" onclick="set_period('month')">
                <input type="radio" name="options" id="periodMonth" autocomplete="off" value="month" {% if period == 'month' -%} checked {%- endif %}>month
            </label>
        </div>
        <small>&nbsp;&nbsp;{{month_name}}</small>
    </div>
    <div class="col-sm-6">
        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-secondary {% if ccy == 'GBP' -%} active {%- endif %}" onclick="set_ccy('GBP')">
                <input type="radio" name="options" id="gbp" autocomplete="off" value="gbp" {% if ccy == 'GBP' -%} checked {%- endif %}>GBP
            </label>
            <label class="btn btn-secondary {% if ccy == 'DKK' -%} active {%- endif %}" onclick="set_ccy('DKK')">
                <input type="radio" name="options" id="dkk" autocomplete="off" value="dkk" {% if ccy == 'DKK' -%} checked {%- endif %} >DKK
            </label>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-3">
        <table id="overall_expenses" class="table table-hover table-sm tablesorter">
            <thead>
                <tr>
                    <th>Classification</th>
                    <th><div class="float-right">Amount</div></th>
                </tr>
            </thead>
            {% for key in overall_expenses.keys() -%}
            <tr>
                <td onclick="highlight_category_matches('{{ key }}')">{{ key }}</td>
                <td class="amount"><div class="float-right">{{ '%.2f' % overall_expenses[key]  }}</div></td>
            </tr>
            {%- endfor %}
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="amount"><div class="float-right">{{ '%.2f' % total_amount }}</div></td>
                </tr>
            </tfoot>
        </table>  
    </div>

    <div class="col-sm-9">
        {{ month_graph|safe }}  
    </div>
</div>

<div class="row">
    <div class="col-sm-6 h2">Detailed Expenses
        <div class="btn-toolbar">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="ccy">
                <label class="btn btn-secondary active" onclick="load_expenses('{{ this_month }}', 'base')">
                    <input type="radio" name="options" id="ccyBase" autocomplete="off" value="base">base
                </label>
                <label class="btn btn-secondary" onclick="load_expenses('{{ this_month }}', 'original')">
                    <input type="radio" name="options" id="ccyOrig" autocomplete="off" value="original">original
                </label>

                <div class="btn-group">
                    <label class="btn btn-secondary" onclick="load_expenses('{{ this_month }}', $('#ccySpecific').val())">
                        <input type="radio" name="options" id="ccySpecific" autocomplete="off" value="GBP"><div id="ccyLabel">GBP</div>
                    </label>
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="set_specific_ccy('GBP')">GBP</a></li>
                        <li><a href="#" onclick="set_specific_ccy('EUR')">EUR</a></li>
                        <li><a href="#" onclick="set_specific_ccy('DKK')">DKK</a></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="allButton" data-toggle="button" onclick="load_expenses_all('{{ this_month }}')">All</button>
        </div>
    </div>
</div>

<div id="detailed_expenses">
    {% for expense in expenses -%}
    {% include 'expense_fragment.html' %}
    {%- endfor %}
</div>

{% endblock %}
