{% extends "layout.html" %}
{% block title %}Expenses{% endblock %}
{% block navname %}expenses{% endblock %}
{% block body %}

<script src=/static/js/expense.js></script>
<script src=/static/js/expense_details.js></script>
<script src=/static/js/month_view.js></script>

<div class="row">
  <div class="col-sm-5"><h2>Totals <small>{{month_name}}</small></h2></div>
	<div class="col-sm-7 h2">
		<div class="btn-toolbar pull-right">
			<div class="btn-group">
				<a class="btn btn-default" href="expenses?date={{ previous_month }}">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					Previous
				</a>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
						    <li><a href="expenses?date={{ previous_year }}">Year</a></li>
						</ul>
				<a class="btn btn-default" href="expenses?date={{ next_month }}">
					Next
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</a>
			</div>
			<div class="btn-group" data-toggle="buttons" id="ccy">
				<label class="btn btn-default active" onclick="load_expenses('{{ this_month }}', 'base')">
					<input type="radio" name="options" id="ccyBase" autocomplete="off" value="base">base
				</label>
				<label class="btn btn-default" onclick="load_expenses('{{ this_month }}', 'original')">
					<input type="radio" name="options" id="ccyOrig" autocomplete="off" value="original">original
				</label>
				<div class="btn-group">
					<label class="btn btn-default" onclick="load_expenses('{{ this_month }}', $('#ccySpecific').val())">
						<input type="radio" name="options" id="ccySpecific" autocomplete="off" value="GBP"><div id="ccyLabel">GBP</div>
					</label>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
						    <li><a href="#" onclick="set_specific_ccy('GBP')">GBP</a></li>
						    <li><a href="#" onclick="set_specific_ccy('EUR')">EUR</a></li>
						    <li><a href="#" onclick="set_specific_ccy('DKK')">DKK</a></li>
						</ul>
				</div>
			</div>
			<div class="btn-group" id="allGrp">
				<button id="allButton" class="btn btn-default" type="button" data-toggle="button" aria-pressed="false" autocomplete="off" onmouseup="load_expenses_all('{{ this_month }}')">ALL</button>
			</div>
		</div>
	</div>
</div>

<div class="row">

  <div class="col-sm-3">
    <table id="overall_expenses" class="table table-hover table-condensed tablesorter">
      <thead>
        <tr>
          <th>Classification</th>
          <th><div class="pull-right">Amount</div></th>
        </tr>
      </thead>
      {% for key in overall_expenses.keys() -%}
        <tr>
          <td onclick="highlight_category_matches('{{ key }}')">{{ key }}</td>
          <td class="amount"><div class="pull-right">{{ '%.2f' % overall_expenses[key]  }}</div></td>
        </tr>
      {%- endfor %}
      <tfoot>
        <tr>
          <td>Total</td>
            <td class="amount"><div class="pull-right">{{ '%.2f' % total_amount }}</div></td>
        </tr>
       </tfoot>
    </table>  
  </div>
  
  <div class="col-sm-9">
		{{ month_graph|safe }}  
  </div>
</div>

<div class="row">
	<div class="col-sm-8 h2">Detailed Expenses</div>
</div>

<div id="detailed_expenses">
	{% for expense in expenses -%}
		{% include 'expense_fragment.html' %}
	{%- endfor %}
</div>

{% endblock %}

