{% extends "layout.html" %}
{% block title %}View Receipt{% endblock %}
{% block body %}

<script src=/static/js/expense.js></script>
<script src=/static/js/document.js></script>
<script src=/static/js/expense_details.js></script>
<script src=/static/js/month_view.js></script>

<div {% if document['deleted'] -%}class="document_deleted"{%- endif %} >

<div class="row">
  <div class="col-sm-6"><h2>Receipt<small>details</small></h2></div>
</div>

<div class="row">
	<div class="col-sm-2">{% if document['previousID'] -%}<a href="receipt?did={{ document['previousID'] }}">previous</a>{% endif -%}</div>
	<div class="col-sm-2">{% if document['nextID'] -%} <a href="receipt?did={{ document['nextID'] }}">next</a>{%- endif %}</div>
	<div class="col-sm-4"><div class="link" onclick="$.post('backend/PROCESS_DOCUMENT?did={{ document['did'] }}')">reprocess</div></div>
	<div class="col-sm-4"><div class="link" onclick="$.post('backend/DELETE_DOCUMENT?did={{ document['did'] }}')">delete</div></div>
</div>
	
{% for expense in document['expenses'] -%}
	{% include 'document_expense_fragment.html' %}
{%- endfor %}

<div class="row">
	<div class="col-sm-6">
		<img src="{{ document['filename'] }}" class="img-responsive"/>
	</div>
	<div class="col-sm-6"><textarea class="form-control" rows="50">{{ document['text']  }}</textarea></div>
  </div>

{% endblock %}

</div>
