{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block navname %}search{% endblock %}
{% block body %}

<script src=/static/js/expense.js></script>
<script src=/static/js/expense_details.js></script>

<div class="row">
  <div class="col-sm-12"><h2>Search</h2></div>
</div>

<div class="row">
  <form action="" method=get>
  <div class="col-sm-12">
  <div class="input-group">
		<input type="text" name="description" class="form-control" value="{{ description }}" autofocus="true" placeholder="Search for...">
		<span class="input-group-btn">
			<button class="btn btn-default" type=submit>Search</button>
		</span>
  </div>
  </div>
  </form>
</div>

{% if description %}
	<div class="row">
		<div class="col-sm-12"><h2>Results</h2></div> 
	</div>
  
	{% for expense in similar_ex -%}
		{% include 'expense_fragment.html' %} 
	{%- endfor %}
{% endif %}

{% endblock %}
