{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block navname %}search{% endblock %}
{% block body %}

<div class="row">
  <h2>Search</h2>
</div>
	
  <form action="" method=get>
      <input type=text name=description value="{{ description }}" class=urlinput>
      <input type=submit value="Search">
  </form>

  <br/>
{% if description %}
  <h2>Results</h2>
  <table id="expenseDetails">
    <thead>
        <tr>
			<th>EID</th>
			<th>Date</th>
			<th>Results</th>
			<th>Amount</th>
			<th>Classification</th>
        </tr>
    </thead>
  {% for row in similar_ex -%}
		<tr>
			<td>{{ row[0]  }}</td>
			<td><a href=expenses?date={{ row[1]  }}>{{ row[1]  }}</a></td>
			<td>{{ row[2].decode('utf8', 'ignore')  }}</td>
			<td class="amount">{{ row[3]  }}</td>
			<td>{{ row[4]  }}</td>
		</tr>

	{%- endfor %}
  </table>
{% endif %}

{% endblock %}
